@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    transition: all ease-in-out;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


/*Header style*/
.header {
    padding: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 200;
  }
  .header > div {
    display: flex;
    align-items: end;

  }
  .header > div > span {
    font-size: small;
  }
  .header>.user-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .header>.user-menu > div {
    background-color: gainsboro;
    padding: 10px 15px;
    border-radius: 100%;
  }
  @media (width < 650px) {
 
    .header > div >span {
      visibility: hidden;
      display: none;
    }
  }

/*nav style for admin page*/
.nav {
    width: 10%;
    height: 100vh;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    position: sticky;
    top: 0;
  }
  .nav > a {
    color: black;
    display: flex;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    padding: 20px;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    font-size: large;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-left: none;
    border-right: none;
  }
  .nav > a:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  } 
  

/*style table*/
.table-container {
  overflow-x: scroll;
}
.tb {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  .tb th{
    padding: 15px;
  }
  
  .tb td {
    border-top: 1px solid #ddd;
    padding: 15px;
  }
  



/*inputs*/
.input{
    padding: 10px;
    border: none;
    border: 1px solid;
    border-color:gainsboro;
    border-radius: 5px;
    width: 100%;
    font-size: small;
}

@media (width < 800px){
    .input{
        width: auto;
    }
}


/*button*/
.button{
    background-color: white;
    padding: 11px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    width: fit-content;
    transition: all ease-in;
    transition-duration: 0.2s;
    border: none;
    cursor: pointer;
}
.button:hover{
    opacity: 0.7;
}

.delete {
  background-color: #ef4444;
  color: white;
  margin: 5px;
}
.update {
  background-color: #60a5fa;
  color: white;
}
.confirm{
  background-color: rgba(5, 201, 5, 0.733);
  color: white;
}



/*search style*/
.search{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.search> div{
  display: flex;
}
.search > div >button{
  border: 1px rgba(0, 0, 0, 0.116) solid;
  padding: 5px 10px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius:0 ;
  background-color: rgba(0, 0, 0, 0.014);
  cursor: pointer;
  transition: all ease-in-out;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition-duration: 0.1s;
}
.search>div>button:hover{
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
.search>div>input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
@media (width < 800px){
  .search{
      flex-direction: column;
      align-items: start;
  }
}

/*style text*/
.true {
  background-color: #57b610;
  color: white;
  padding: 5px;
  border-radius: 8px;
}
.false {
  background-color: #ef4444;
  color: white;
  padding: 5px;
  border-radius: 8px;
}



/*text largeur*/
.text-2xl{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}
.text-lg{
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}
.text-md{
    font-size: 1rem; /* 16px */
line-height: 1.5rem; /* 24px */
}
.text-sm{
    font-size: 0.875rem; /* 14px */
line-height: 1.25rem; /* 20px */
}
.text-xs{
    font-size: 0.75rem; /* 12px */
line-height: 1rem; /* 16px */
}


/*text fonts*/
.font-semibold{
    font-weight: 600;
}

/*back drop blur*/
.backdrop-blur-md{
    backdrop-filter: blur(12px);
}
.backdrop-blur-lg{
    backdrop-filter: blur(16px);
}
.backdrop-blur-xl{
    backdrop-filter: blur(24px);
}

/*drop shadow*/
.drop-shadow-md{
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}
.drop-shadow-lg{
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
.drop-shadow-sm{
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

/*shadows*/
.shadow-sm{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);  
}
.shadow-md{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.shadow-lg{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}